TLDRAW_MCP_TOKEN=
TLDRAW_MCP_HOST=127.0.0.1
TLDRAW_MCP_PORT=7237
TLDRAW_MCP_ALLOWED_HOSTS=localhost,127.0.0.1,::1
TLDRAW_SERVER_JSON=/Users/yourname/Library/Application Support/tldraw/server.json
TLDRAW_MCP_REQUEST_TIMEOUT_MS=30000
TLDRAW_MCP_IDLE_TIMEOUT_SECONDS=255
TLDRAW_MCP_MAX_REQUEST_BYTES=26214400
TLDRAW_MCP_MAX_RESULT_BYTES=5242880
TLDRAW_MCP_MAX_FILE_BYTES=20971520
TLDRAW_MCP_MAX_IMAGE_BYTES=20971520
